<h1>Editing Album</h1>

<%= render 'form', album: @album %>

<%= link_to 'Show', @album, class: "badge badge-pill badge-secondary" %> |
<%= link_to 'Back', albums_path, class: "badge badge-pill badge-dark" %>
