<h1>About</h1>

<div class="jumbotron bg-secondary">
  <h1 class="display-4">Welcome to the Photo-Stock app!</h1>
  <p class="lead">This is a very simple application where you can create albums and add your photos containing many great memories and beautiful views</p>
  <hr class="my-4">
  <p>Check it out and see for yourself</p>
  <%= link_to "Try Photo Stock", root_path, class: "btn btn-primary btn-lg" %>
</div>

